<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJAX Example</title>
</head>
<body>
    <h2>Create New User</h2>
    <form id="userForm">
        <label for="idInput">Id:</label>
        <input type="number" id="idInput" name="id"><br><br>
        <label for="usernameInput">Username:</label>
        <input type="text" id="usernameInput" name="username"><br><br>
        <label for="emailInput">Email:</label>
        <input type="text" id="emailInput" name="email"><br><br>
        <label for="passwordInput">Password:</label>
        <input type="password" id="passwordInput" name="password"><br><br>
        <label for="familyIdInput">Family ID:</label>
        <input type="text" id="familyIdInput" name="familyId_id"><br><br>
        <button type="button" id="submitBtn">Submit</button>
        <button type="button" id="updateBtn">Update</button>
    </form>

    <div id="userData"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../static/user.js"></script>
</body>
</html>
