<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сімейний бюджет</title>
    <link rel="stylesheet" href="../../static/styles/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>


    <header class="header">
        <a href="http://127.0.0.1:8000/api/landingBudget/page" class="logo">Сімейний бюджет</a>

        <input type="checkbox" id="check">
        <label for="check" class="icons">
            <i class='bx bx-menu' id="menu-icon"></i>
            <i class='bx bx-x' id="close-icon"></i>
        </label>

        <nav class="navbar">
            <a href="#" style="--i:0;" class="toggle-link" data-target-id="main">Головна</a>
            <a href="#" style="--i:1;" class="toggle-link" data-target-id="income-expense-section">Дохід/Витрати</a>
            <a href="#" style="--i:2;" class="toggle-link" data-target-id="add-to-family">Додати до сім'ї</a>
            <a href="#" style="--i:3;" class="toggle-link" data-target-id="create-family">Створити сім'ю</a>
            <a href="#" style="--i:4;" class="toggle-link" data-target-id="personal-info">Персональний кабінет</a>
        </nav>
    </header>
    <main>
        <section class="budget toggle-section" id="main">
            <div class="income">
                <h2>Дохід</h2>
                <p>+ 345.50</p>
                <p>+ 1200.00</p>
                <p>+ 840.00</p>
                <p>+ 4500.00</p>
                <p>+ 1900.20</p>
            </div>
            <div class="expenses">
                <h2>Витрати</h2>
                <p>- 344.15</p>
                <p>- 120.50</p>
                <p>- 84.20</p>
                <p>- 450.21</p>
                <p>- 19.20</p>
            </div>
            <div class="summary" id="budgetDataGeneral">
<!--                <h2>Загальний звіт</h2>-->
<!--                <p>+ 345.50</p>-->
<!--                <p>- 84.20</p>-->
<!--                <p>+ 1200.00</p>-->
<!--                <p>- 120.50</p>-->
<!--                <p>+ 840.00</p>-->
<!--                <p>- 450.21</p>-->
<!--                <p>+ 4500.00</p>-->
<!--                <p>- 19.20</p>-->
<!--                <p>+ 1900.20</p>-->
<!--                <p>- 344.15</p>-->
            </div>
        </section>
        <section class="box toggle-section hidden" id="income-expense-section">
                <div class="expenses_add" >
                    <h2>Додати витрату</h2>
                    <input placeholder="0.00" type="number" class="inp" id="balanceOutcome">
                    <button class="btn" id="outcomeBtnLanding">Додати</button>
                </div>
                <div class="expenses_add">
                    <h2>Витрати</h2>
                    <p>- 344.15</p>
                    <p>- 120.50</p>
                    <p>- 84.20</p>
                    <p>- 450.21</p>
                    <p>- 19.20</p>
                    <p id="outcome"></p>
                </div>
                <div class="income_add">
                    <h2>Додати дохід</h2>
                    <input placeholder="0.00" type="number" class="inp" id="balanceIncome">
                    <button class="btn" id="incomeBtnLanding">Додати</button>
                </div>
                <div class="income_add">
                    <h2>Дохід</h2>
                    <p>+ 345.50</p>
                    <p>+ 1200.00</p>
                    <p>+ 840.00</p>
                    <p>+ 4500.00</p>
                    <p>+ 1900.20</p>
                    <p id="income"></p>
                </div>
        </section>
        <section class="box toggle-section hidden" id="add-to-family">
            <div class="add-to-family">
                <h2>Додати до сім'ї</h2>
                <input placeholder="id" type="number" class="inp" id="idInput">
                <input placeholder="ім'я" class="inp" id="usernameInput">
                <input placeholder="пошта" class="inp" id="emailInput">
                <input placeholder="пароль" class="inp" id="passwordInput">
                <input placeholder="id сім'ї" type="number" class="inp" id="familyIdInput">
                <!--<input placeholder="номер телефону" type="number" class="inp">-->

                <button class="btn" id="addToFamily">Додати</button>
            </div>
        </section>
        <section class="box toggle-section hidden" id="create-family">
            <div class="create-family">
                <h2>Створити сім'ю</h2>
                <input placeholder="id сім'ї" type="number" class="inp" id="idFamilyInput">
                <input placeholder="прізвище сім'ї" class="inp" id="familyNameInput">
                <button class="btn" id="createFamily">Створити</button>
            </div>
        </section>
        <section class="box toggle-section hidden" id="personal-info">
            <div class="personal-info">
                <!--<p class="font">Ім'я: Андрій</p>
                <p class="font">Сім'я: Магеровський</p>
                <p class="font">Пошта: andrii.maherovskyi@gmail.com</p>-->
                <p class="font" id="user"></p>
                <p class="font">Номер телефону: +380672345467</p>
                <button onclick="window.location.href='http://127.0.0.1:8000/api/login'" class="btn">Вийти</button>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Сімейний бюджет</p>
    </footer>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const links = document.querySelectorAll('.toggle-link');

            links.forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    const targetId = this.getAttribute('data-target-id');
                    const targetSection = document.getElementById(targetId);
                    if (targetSection) {
                        const allSections = document.querySelectorAll('.toggle-section');
                        allSections.forEach(section => {
                            if (section.id === targetId) {
                                section.classList.remove('hidden');
                            } else {
                                section.classList.add('hidden');
                            }
                        });
                    }
                });
            });
        });

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../static/budget.js"></script>
    <script src="../../static/user.js"></script>
    <script src="../../static/family.js"></script>

    <style>
        body {
        background-image: url('../../static/images/bg_1.jpg');
        /* background-size: cover;  */
        background-position: center;
        /* background-repeat: no-repeat;  */
        }
    </style>
</body>
</html>
