

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сімейний бюджет</title>
    <link rel="stylesheet" href="app.component.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

  <section [ngClass]="{'hidden': currentPart !== 'landing'}">
    <header class="header">
        <a (click)="showSection('main')" (click)="RenderChartFamily()" class="logo">Сімейний бюджет</a>

        <input type="checkbox" id="check">
        <label for="check" class="icons">
            <i class='bx bx-menu' id="menu-icon"></i>
            <i class='bx bx-x' id="close-icon"></i>
        </label>

        <nav class="navbar">
             <a href="#" style="--i:0;" class="toggle-link" (click)="showSection('main')">Головна</a>
            <a href="#" style="--i:1;" class="toggle-link" (click)="showSection('income-expense-section')" (click)="RenderChart()">Дохід/Витрати</a>
            <a href="#" style="--i:2;" class="toggle-link" (click)="showSection('add-to-family')">Додати до сім'ї</a>
<!--            <a href="#" style="&#45;&#45;i:3;" class="toggle-link" (click)="showSection('create-family')">Створити сім'ю</a>-->
<!--            <a href="#" style="&#45;&#45;i:3;" class="toggle-link" (click)="showSection('create-budget')">Створити бюджет</a>-->
            <a href="#" style="--i:4;" class="toggle-link" (click)="showSection('personal-info')">Персональний кабінет</a>
        </nav>
    </header>
    <main>
        <section class="budget toggle-section" [ngClass]="{'hidden': currentSection !== 'main'}">
            <div class="income">
                <h2>Дохід усієї сім'ї</h2>
                    <p *ngFor="let transaction of loggined_transactions_income_family">
                      <span>{{transaction.person}}: </span>
                      <span>+ {{ transaction.transaction }} грн</span>
                      <span class="date"> {{ transaction.date | date: 'yyyy-MM-dd' }} </span>
                    </p>
            </div>
            <div class="expenses">
                <h2>Витрати всієї сім'ї</h2>
                    <p *ngFor="let transaction of loggined_transactions_outcome_family">
                      <span>{{transaction.person}}: </span>
                      <span>- {{ transaction.transaction }} грн</span>
                      <span class="date"> {{ transaction.date | date: 'yyyy-MM-dd' }} </span>
                    </p>
            </div>
            <div class="summary">
                <h2>Загальний звіт всієї сім'ї</h2>
                    <p *ngFor="let transaction of loggined_transactions_total_family">
                      <span>{{transaction.person}}: </span>
                      <span>{{transaction.symbol}} {{ transaction.transaction }} грн</span>
                      <span class="date"> {{ transaction.date | date: 'yyyy-MM-dd' }} </span>
                    </p>
            </div>
            <div class="income_add">
              <h2>Інфографіка всієї сім'ї</h2>
                <canvas id="familyChart"></canvas>
            </div>
        </section>
        <section class="box toggle-section hidden" [ngClass]="{'hidden': currentSection !== 'income-expense-section'}">
                <div class="expenses_add" >
                    <h2>Додати витрату</h2>
                    <input placeholder="0.00" type="number" class="inp" [(ngModel)]="toTake">
                    <button class="btn" (click)="takeFromLogginedBudget()" (click)="chooseLoginedUser()">Додати</button>
                </div>
                <div class="expenses_add">
                    <h2>Витрати</h2>
                    <p *ngFor="let transaction of loggined_transactions_outcome">- {{ transaction.transaction }} грн
                      <span class="date"> {{ transaction.date | date: 'yyyy-MM-dd' }} </span>
                    </p>
<!--                    <p *ngFor="let date of loggined_transactions_outcome_date"> {{ date | date: 'yyyy-MM-dd' }}</p>-->
                    <p *ngFor="let outcome of outcomes">- {{ outcome }}</p>
                </div>
                <div class="income_add">
                    <h2>Додати дохід</h2>
                    <input placeholder="0.00" type="number" class="inp" [(ngModel)]="toAdd">
                    <button class="btn" (click)="addToLogginedBudget()" (click)="chooseLoginedUser()">Додати</button>
                </div>
                <div class="income_add">
                    <h2>Дохід</h2>
                    <p *ngFor="let transaction of loggined_transactions_income">+ {{ transaction.transaction }} грн
                      <span class="date"> {{ transaction.date | date: 'yyyy-MM-dd' }} </span>
                    </p>
<!--                    <p *ngFor="let date of loggined_transactions_income_date"> {{ date | date: 'yyyy-MM-dd' }}</p>-->
                    <p *ngFor="let income of incomes">+ {{ income }}</p>
                </div>
<!--                <div class="expenses_add">-->
<!--                    <h2>Витрати всієї сім'ї</h2>-->
<!--                    <p *ngFor="let transaction of loggined_transactions_outcome_family">-->
<!--                      <span>{{transaction.person}}: </span>-->
<!--                      <span>- {{ transaction.transaction }} грн</span>-->
<!--                      <span class="date"> {{ transaction.date | date: 'yyyy-MM-dd' }} </span>-->
<!--                    </p>-->
<!--                </div>-->
<!--                 <div class="income_add">-->
<!--                    <h2>Дохід усієї сім'ї</h2>-->
<!--                    <p *ngFor="let transaction of loggined_transactions_income_family">-->
<!--                      <span>{{transaction.person}}: </span>-->
<!--                      <span>+ {{ transaction.transaction }} грн</span>-->
<!--                      <span class="date"> {{ transaction.date | date: 'yyyy-MM-dd' }} </span>-->
<!--                    </p>-->
<!--                </div>-->
                <div class="diagram">
                  <h2>Інфографіка користувача</h2>
                  <canvas id="myChart"></canvas>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </section>
        <section class="box toggle-section hidden" [ngClass]="{'hidden': currentSection !== 'add-to-family'}">
            <div class="add-to-family">
                <h2>Додати до сім'ї</h2>
<!--                <input placeholder="id користувача" type="number" class="inp" [(ngModel)]="selectedUser.id">-->
<!--                <input placeholder="ім'я" class="inp" [(ngModel)]="selectedUser.username">-->
<!--                <input placeholder="пошта" class="inp" [(ngModel)]="selectedUser.email">-->
<!--                <input placeholder="пароль" class="inp" [(ngModel)]="selectedUser.password">-->
<!--                <input placeholder="id сім'ї" type="text" class="inp" [(ngModel)]="selectedUser.familyId_id"/>-->
<!--                <button class="btn" (click)="createUser()">Додати</button>-->
                <form (submit)="onRegister()">
                  <input class="inp" type="text" name="username" placeholder="Логін" [(ngModel)]="username_Register" name="username" required />
                  <input class="inp" type="text" name="name" placeholder="Ім'я" [(ngModel)]="firstName_Register" name="firstName" />
                  <input class="inp" type="text" name="email" placeholder="Пошта" [(ngModel)]="email_Register" name="email" required type="email" />
                  <input class="inp" type="text" name="password" placeholder="Пароль" [(ngModel)]="password_Register" name="password" required type="password" />
<!--                  <input class="inp" type="text" name="last_name" placeholder="Сім'я" [(ngModel)]="familyId_id_Register" name="familyId" />-->
                  <button class="btn" type="submit" >Додати</button>
                </form>
            </div>
        </section>
<!--        <section class="box toggle-section hidden" [ngClass]="{'hidden': currentSection !== 'create-family'}">-->
<!--            <div class="create-family">-->
<!--                <h2>Створити сім'ю</h2>-->
<!--                <input placeholder="id сім'ї" type="number" class="inp" [(ngModel)]="selectedFamily.id">-->
<!--                <input placeholder="прізвище сім'ї" class="inp" [(ngModel)]="selectedFamily.name">-->
<!--                <button class="btn" (click)="createFamily()">Створити</button>-->
<!--            </div>-->
<!--        </section>-->
<!--        <section class="box toggle-section hidden" [ngClass]="{'hidden': currentSection !== 'create-budget'}">-->
<!--            <div class="create-family">-->
<!--                <h2>Створити бюджет</h2>-->
<!--                <input placeholder="id бюджету" type="number" class="inp" [(ngModel)]="selectedBudget.id">-->
<!--                <input placeholder="баланс" type="number" class="inp" [(ngModel)]="selectedBudget.balance">-->
<!--                <input placeholder="id сім'ї" class="inp" [(ngModel)]="selectedBudget.familyId_id">-->
<!--                <button class="btn" (click)="createBudget()">Створити</button>-->
<!--            </div>-->
<!--        </section>-->
        <section class="box toggle-section hidden" [ngClass]="{'hidden': currentSection !== 'personal-info'}">
            <div class="personal-info">
                <p class="font">Ім'я: {{ logginedUser.first_name }}</p>
                <p class="font">Сім'я: {{logginedFamily.name }}</p>
                <p class="font">Пошта: {{ logginedUser.email }}</p>
                <p class="font">Баланс: {{ userBalance}}</p>
                <button (click)="showPart('login')" (click)="onLogout()" class="btn">Вийти</button>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Сімейний бюджет</p>
    </footer>
  </section>

  <section [ngClass]="{'hidden': currentPart !== 'login'}">
    <body>
      <div class="container">
          <h2>Вхід</h2>
          <form action="login.php" method="post" (submit)="onLogin()">
              <input class="inp" type="text" name="username" placeholder="Логін" [(ngModel)]="username_Login" name="username" required />
              <input class="inp" type="password" name="password" placeholder="Пароль" [(ngModel)]="password_Login" name="password" required type="password" />
<!--              <input class="inp" type="text" name="username" placeholder="Логін" [(ngModel)]="loggined_id" required>-->
<!--              <input class="inp" type="password" name="password" placeholder="Пароль" [(ngModel)]="loggined_password" required>-->
<!--              <input class="btn" type="submit" value="Вхід" (click)="showPart('landing')" (click)="chooseUser(loggined_id)">-->
              <input class="btn" type="submit" value="Вхід" (click)="showPart('landing')" (click)="chooseLoginedUser()">
              <input class="btn" value="Реєстрація" (click)="showPart('registration')">
              <div class="button-container">
                <input class="btn_b" value="Реєстрація Сім'ї" (click)="showPart('registration_family')">
                <input class="btn_b" value="Створення б'юджету" (click)="showPart('registration_budget')">
              </div>
          </form>
<!--          <h2>Login</h2>-->
<!--            <form (submit)="onLogin()">-->
<!--              <div>-->
<!--                <label>Username:</label>-->
<!--                <input [(ngModel)]="username_Login" name="username" required />-->
<!--              </div>-->
<!--              <div>-->
<!--                <label>Password:</label>-->
<!--                <input [(ngModel)]="password_Login" name="password" required type="password" />-->
<!--              </div>-->
<!--              <button type="submit">Login</button>-->
<!--            </form>-->
      </div>

    </body>
  </section>
  <section [ngClass]="{'hidden': currentPart !== 'registration'}">
    <body>
      <div class="container">
        <h2>Реєстрація</h2>
            <form (submit)="onRegister()">
              <div>
                <input class="inp" type="text" name="username" placeholder="Логін" [(ngModel)]="username_Register" name="username" required />
              </div>
              <div>
                <input class="inp" type="text" name="username" placeholder="Ім'я" [(ngModel)]="firstName_Register" name="firstName" />
              </div>
              <div>
                <input class="inp" type="text" name="username" placeholder="Пошта" [(ngModel)]="email_Register" name="email" required type="email" />
              </div>
              <div>
                <input class="inp" type="text" name="username" placeholder="Пароль" [(ngModel)]="password_Register" name="password" required type="password" />
              </div>
              <div>
                <input class="inp" type="text" name="username" placeholder="Сім'я" [(ngModel)]="familyId_id_Register" name="familyId" />
              </div>
              <div>
                <button class="btn" type="submit" (click)="showPart('login')">Зареєструватися</button>
              </div>
              <div class="button-container">
                <input class="btn" value="Повернутися" (click)="showPart('login')">
              </div>

            </form>
      </div>
    </body>
  </section>
  <section [ngClass]="{'hidden': currentPart !== 'registration_family'}">
    <body>
      <div class="container">
          <h2>Створити сім'ю</h2>
          <input placeholder="id сім'ї" type="number" class="inp" [(ngModel)]="selectedFamily.id">
          <input placeholder="прізвище сім'ї" class="inp" [(ngModel)]="selectedFamily.name">
          <button class="btn" (click)="createFamily()">Створити</button>
          <div class="button-container"></div>
          <input class="btn" value="Повернутися" (click)="showPart('login')">
      </div>
    </body>
  </section>
  <section [ngClass]="{'hidden': currentPart !== 'registration_budget'}">
    <body>
      <div class="container">
          <h2>Створити бюджет</h2>
          <input placeholder="id бюджету" type="number" class="inp" [(ngModel)]="selectedBudget.id">
          <input placeholder="баланс" type="number" class="inp" [(ngModel)]="selectedBudget.balance">
          <input placeholder="id сім'ї" class="inp" [(ngModel)]="selectedBudget.familyId_id">
          <button class="btn" (click)="createBudget()">Створити</button>
          <div class="button-container"></div>
          <input class="btn" value="Повернутися" (click)="showPart('login')">
      </div>
    </body>
  </section>
    <style>
        body {
        background-image: url('assets/bg_1.jpg');
        /* background-size: cover;  */
        background-position: center;
        /* background-repeat: no-repeat;  */
        }
    </style>

</body>
</html>
