<!-- myapp/my_template.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Template</title>
</head>
<body>

    <h1>Families List</h1>
    <ul>
        {% for family in families %}
            <li>ID: {{ family.id }}, Surname: {{ family.name }}</li>
        {% endfor %}
    </ul>

    <h2>Add Family</h2>
    <form method="post" action="{% url 'family' %}">
        {% csrf_token %}

        <label>Id:</label>
        <input type="number" name="id" required><br>

        <label>Surname:</label>
        <input type="text" name="name" required><br>


        <button type="submit">Add Family</button>
    </form>


<!--    <h2>Update User</h2>-->
<!--    <form method="post" action="{% url 'my_template' %}">-->
<!--        {% csrf_token %}-->
<!--        <input type="hidden" name="_method" value="put"> &lt;!&ndash; Використовуйте input для вказівки методу &ndash;&gt;-->

<!--        <label>ID:</label>-->
<!--        <input type="hidden" name="id" value="{{ 7 }}">-->
<!--        {{ user.id }} &lt;!&ndash; Виводимо ідентифікатор для перевірки, його можна приховати після тестування &ndash;&gt;-->

<!--        <label>Username:</label>-->
<!--        <input type="text" name="username" value="{{ user.username }}" required><br>-->

<!--        <label>Email:</label>-->
<!--        <input type="email" name="email" value="{{ user.email }}" required><br>-->

<!--        <label>Password:</label>-->
<!--        <input type="password" name="password" value="{{ user.password }}" required><br>-->

<!--        <label>Family ID:</label>-->
<!--        <input type="text" name="familyId_id" value="{{ user.familyId_id }}" required><br>-->

<!--        &lt;!&ndash; Додайте інші поля, якщо потрібно &ndash;&gt;-->

<!--        <button type="submit">Update User</button>-->
<!--    </form>-->

</body>
</html>
